.publicite{
    background-color: #757E78;
   
}


.Accessories{
    padding-top: 3rem;
}
.Newarrival{
    margin-top: 2rem;
    padding-left: 2rem;
 
}
.Seeds{
    padding-top: 2rem;
    

}
.Shipping{
    padding-top: 6rem;
    padding-left: 2rem;
}
/* still not working on the phone screen */