.publicite{
    background-color: #757E78;
   
}


/*content of images */
/*content1*/
.accessories{
position: absolute;
text-align: start;
color: white;
margin-left: 25rem;

}
.p1{
   font-family: 'Syne'; 
   font-size: 2rem;
   position: absolute;
   margin-top: -20rem;
 
}
.p2{
    font-family: 'Manrope';
    font-size: 1rem;
    position: absolute;
    margin-top: -15rem;
}
/*content2*/
.seed{
    position: absolute;
    text-align: start;
    color: white;
    margin-left: 25rem;
}
.p3{
    font-family: 'Syne'; 
    font-size: 2rem;
    position: absolute;
    margin-top: -55rem;


}
.p4{
    font-family: 'Manrope';
    font-size: 1rem;
    position: absolute;
    margin-top: -50rem;

}
/*content3*/
.shipping{
    color: white;
    position: absolute;
    text-align: start;
    margin-left: 54rem;
}
.p5{
    font-family: 'Syne'; 
    font-size: 2rem;
    position: absolute;
    margin-top: -55rem;

}
.p6{
    font-family: 'Manrope';
    font-size: 1rem;
    position: absolute;
    margin-top: -50rem;

}

/*content4*/
.newarrival{
    position: absolute;
    text-align: start;
    color: white;
    margin-left: 54rem; 
}
.p7{
    font-family: 'Syne'; 
   font-size: 2rem;
   position: absolute;
   margin-top: -20rem;

}
.p8{
    font-family: 'Manrope';
    font-size: 1rem;
    position: absolute;
    margin-top: -15rem;
}




/*Images*/
.pub{
    transform: scale(0.8);
   
   
}

.Accessories{
    margin-top: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    
  
}
.Newarrival{
    margin-top: 10rem;
    padding-left: 2rem;
    
  
 
}
.Seeds{ 
    margin-top: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.Shipping{
    margin-top: 10rem;
    padding-left: 2rem;
   

   
}



/* still not working on the phone screen */