.Intro{
  height: 100%;
  width: 100%;
}
.debut{
  width:100% ;
  height: 100vh;
  top: 0;
}
.intro-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
/*Reglage opacite*/
.debut::after{
  content: "";
  width:100% ;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
}
.Intro .content{
  position: absolute;
  transform: translate(-50% -50%);
  top: 20%;
  left: 15%;
  text-align: start;
  color: #fff;
  font-size: 4rem;
  font-family: 'Syne', sans-serif;
}
/* the best ...*/
.Intro .content1{
  position: absolute;
  transform: translate(-50% -50%);
  top: 69%;
  left: 25%;
  text-align: start;
  color: #fff;
  font-size: 0.8rem;
}
/*refresh your */
.Intro .content2{
  position: absolute;
  transform: translate(-50% -50%);
  top: 66%;
  left: 75%;
  text-align: start;
  color: #fff;
  font-size: 0.8rem;
}
.button{
  position: absolute;
  transform: translate(-50% -50%);
  top: 79%;
  left: 25%;
  border-radius: 0px;
  border:black;
  color: black;
  background-color: #fff;
  font-size: 10px;
  padding: 11px 26px 11px 26px ;
  cursor: pointer;
}
.intro-img1{
  position: absolute;
  top: 60%;
  left: 14.5%;
  transform: scale(0.7);
  border-radius: 145.363px 145.363px 0px 0px;
}
.intro-img2{
  position: absolute;
  top: 40%;
  left: 61%;
  transform: scale(0.6);
  border-radius: 145.363px 145.363px 0px 0px;;

}
/* start working on phone screen  */
@media screen and(max-width:640px) {
  .Intro .content{
    position: absolute;
    transform: translate(-50% -50%);
    top: 30%;
    left: 20%;
    text-align: start;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
  
}